<h1>Orders</h1>

<table>
  <tr>
    <th></th>
    <th>Order #</th>
    <th>Description</th>
    <th>Company</th>
    <th>Invoice #</th>
    <th>Last Checkout</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to 'Details', order %></td>
    <td><%= order.id %></td>
    <td><%= order.description %></td>
    <td><%= order.company.nil? ? '-' : order.company.name %></td>
    <td><%= order.invoice_number %></td>
    <td><%= order.order_date %></td>
  </tr>
<% end %>
</table>

<br />